/* Banner Start */
.banner{
    height: 110vh;
}
.banner .banner-content{
    align-items: center;
}
.banner .banner-content h1{
    font-size: calc(3.5rem + 0.5vw);
    margin-top: 4rem;
}
.banner .banner-content p{
    width: 50%;
    text-align: center;
}
.banner .banner-content .line{
    width: 90px;
    height: 8px;
    background-color: #f2c663;
    border-radius: 10px;
    margin-top: 1rem;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .banner .banner-content h1{
        font-size: calc(3.2rem + 0.5vw);
    }
    .banner .banner-content .line{
        width: 85px;
        height: 7px;
        margin-top: 0.8rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .banner .banner-content h1{
        font-size: calc(2.8rem + 0.5vw);
        margin-top: 3.8rem;
    }
    .banner .banner-content .line{
        width: 80px;
        height: 7px;
        margin-top: 0.7rem;
    }
}

@media screen and (max-width: 768px) {
    .banner{
        height: auto;
    }
    .banner .banner-content h1{
        font-size: calc(2rem + 0.5vw);
        margin-top: -4.5rem;
    }
    .banner .banner-content p{
        margin-top: 3.3rem;
        width: 100%;
        font-size: calc(0.78rem + 0.5vw);
    }
    .banner .banner-content .line{
        width: 55px;
        height: 5px;
        margin-top: 0.5rem;
    }
}
/* Banner End */

/* Contact Cards Row Start */
.contact-cards-row{
    padding: 6rem 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-cards-row .contact-card{
    width: 30%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2c663;
    box-shadow: #f2c663 0px 13px 27px -5px, #f2c663 0px 8px 16px -8px;
}
.contact-cards-row .contact-card img{
    width: 40%;
}
.contact-cards-row .contact-card span{
    display: block;
    font-size: calc(1rem + 0.5vw);
    font-family: Sharp-Grotesk-Book-20, sans-serif;
    font-weight: 600;
    color: #000;
    margin-top: 1.7rem;
}
.contact-cards-row .contact-card .desc{
    margin-top: 0.6rem;
}
.contact-cards-row .contact-card p{
    font-size: calc(0.52rem + 0.5vw);
    font-family: Sharp-Grotesk-Book-20, sans-serif;
    color: #000;
    text-align: center;
    font-weight: 500;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .contact-cards-row{
        padding: 5.5rem 7%;
    }
    .contact-cards-row .contact-card{
        padding: 2.8rem;
        box-shadow: #f2c663 0px 10px 23px -5px, #f2c663 0px 8px 14px -8px;
    }
    .contact-cards-row .contact-card span{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 1.6rem;
    }
    .contact-cards-row .contact-card .desc{
        margin-top: 0.6rem;
    }
    .contact-cards-row .contact-card p{
        font-size: calc(0.49rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .contact-cards-row{
        padding: 5rem 7%;
    }
    .contact-cards-row .contact-card{
        padding: 2.5rem;
        box-shadow: #f2c663 0px 10px 23px -5px, #f2c663 0px 8px 14px -8px;
    }
    .contact-cards-row .contact-card span{
        font-size: calc(0.8rem + 0.5vw);
        margin-top: 1.5rem;
    }
    .contact-cards-row .contact-card .desc{
        margin-top: 0.5rem;
    }
    .contact-cards-row .contact-card p{
        font-size: calc(0.42rem + 0.5vw);
    }
}
/* Contact Cards Row End */

/* Contact Form Start */
.contact-form{
    padding: 0 7% 7rem 7%;
}
.contact-form h2{
    text-align: center;
    font-family: Sharp-Grotesk-Book-20, sans-serif;
    font-size: calc(3rem + 0.5vw);
}
.contact-form p{
    font-size: calc(0.55rem + 0.5vw);
    font-family: Sharp-Grotesk-Book-20, sans-serif;
    color: #000;
    text-align: center;
    width: 52%;
    margin: 1rem auto 0 auto;
}
.contact-form form{
    width: 60%;
    margin: 2.5rem auto 0 auto;
}
.contact-form form input,
.contact-form form textarea{
    width: 100%;
    padding: 2.5rem 1.2rem;
    outline: none;
    border: none;
    border-bottom: 2.5px solid #000;
    font-size: calc(0.7rem + 0.5vw);
    font-family: Sharp-Grotesk-Book-20, sans-serif;
    color: #000;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.contact-form form input::placeholder,
.contact-form form textarea::placeholder{
    color: #000;
}
.contact-form form textarea{
    resize: none;
}
.contact-form form button{
    background-color: #f2c663;
    color: #000;
    padding: 0.9rem 2.7rem 0.8rem 2.7rem;
    border: none;
    font-size: calc(0.8rem + 0.5vw);
    font-family: Sharp-Grotesk-Book-20, sans-serif;
    border-radius: 40px;
    margin: 3rem auto 0 auto;
    display: block;
    transition: all 0.2s ease;
}
.contact-form form button:hover{
    background-color: #ddb148;
}
.contact-form form button:active{
    scale: 0.95;
}

.contact-form form .input-box{
    position: relative;
}
.contact-form form .input-box span{
    position: absolute;
    top: 27%;
    left: 0;
    font-size: calc(1.2rem + 0.5vw);
    font-family: Sharp-Grotesk-Book-20, sans-serif;
    color: #000;
    font-weight: 600;
}
.contact-form form .msg-box span{
    top: 21%;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .contact-form{
        padding: 0 7% 6.5rem 7%;
    }
    .contact-form h2{
        font-size: calc(2.8rem + 0.5vw);
    }
    .contact-form p{
        font-size: calc(0.5rem + 0.5vw);
        margin: 0.9rem auto 0 auto;
    }
    .contact-form form{
        margin: 2.3rem auto 0 auto;
    }
    .contact-form form input,
    .contact-form form textarea{
        padding: 2.3rem 1.1rem;
        border-bottom: 2.3px solid #000;
        font-size: calc(0.65rem + 0.5vw);
        margin-bottom: 0.5rem;
    }
    .contact-form form button{
        padding: 0.8rem 2.6rem 0.7rem 2.6rem;
        font-size: calc(0.75rem + 0.5vw);
        margin: 2.8rem auto 0 auto;
    }

    .contact-form form .input-box span{
        font-size: calc(1.1rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .contact-form{
        padding: 0 7% 5.5rem 7%;
    }
    .contact-form h2{
        font-size: calc(2.7rem + 0.5vw);
    }
    .contact-form p{
        font-size: calc(0.45rem + 0.5vw);
        margin: 0.8rem auto 0 auto;
    }
    .contact-form form{
        margin: 1.5rem auto 0 auto;
    }
    .contact-form form input,
    .contact-form form textarea{
        padding: 2rem 1rem;
        border-bottom: 2px solid #000;
        font-size: calc(0.6rem + 0.5vw);
        margin-bottom: 0.3rem;
    }
    .contact-form form button{
        padding: 0.7rem 2.4rem 0.6rem 2.4rem;
        font-size: calc(0.7rem + 0.5vw);
        margin: 2.5rem auto 0 auto;
    }

    .contact-form form .input-box span{
        font-size: calc(1rem + 0.5vw);
    }
}
/* Contact Form End */

/* Map Start */
.map{
    width: 100%;
    height: 60vh;
    margin-bottom: 4rem;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .map{
        margin-bottom: 3.5rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .map{
        margin-bottom: 3rem;
    }
}
/* Map End */