/* Banner Start */
.banner{
    height: 110vh;
}
.banner .banner-content{
    align-items: center;
}
.banner .banner-content h1{
    font-size: calc(4.5rem + 0.5vw);
    margin-top: 7rem;
    text-transform: uppercase;
    text-align: center;
}
.banner .banner-content .line{
    width: 90px;
    height: 8px;
    background-color: #f2c663;
    border-radius: 10px;
    margin-top: 1rem;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .banner .banner-content h1{
        font-size: calc(4.2rem + 0.5vw);
        margin-top: 6rem;
    }
    .banner .banner-content .line{
        width: 85px;
        height: 7px;
        margin-top: 0.8rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .banner .banner-content h1{
        font-size: calc(3.8rem + 0.5vw);
        margin-top: 5.5rem;
    }
    .banner .banner-content .line{
        width: 80px;
        height: 7px;
        margin-top: 0.7rem;
    }
}

@media screen and (max-width: 768px) {
    .banner{
        height: auto;
    }
    .banner .banner-content h1{
        font-size: calc(1.7rem + 0.5vw);
        margin-top: -9rem;
    }
    .banner .banner-content .line{
        width: 55px;
        height: 5px;
        margin-top: 0;
    }
}
/* Banner End */

/* Guiding Principles Content Start */
.guiding-principles-content{
    padding: 4rem 7%;
}
.guiding-content-box{
    padding: 0.8rem 1rem;
    border-left: 2px solid #f2c663;
    margin-bottom: 2.5rem;
}
.guiding-content-box span{
    display: block;
    font-size: calc(1rem + 0.5vw);
    font-family: Elikora, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #dea110;
}
.guiding-content-box p{
    font-size: calc(0.6rem + 0.5vw);
    font-family: Sharp-Grotesk-Book-20, sans-serif;
    color: #000;
    font-weight: 500;
    margin: 0;
    margin-top: 1rem;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .guiding-principles-content{
        padding: 3.5rem 7%;
    }
    .guiding-content-box{
        padding: 0.7rem 1rem;
        margin-bottom: 2.4rem;
    }
    .guiding-content-box span{
        font-size: calc(0.95rem + 0.5vw);
    }
    .guiding-content-box p{
        font-size: calc(0.55rem + 0.5vw);
        margin-top: 0.9rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .guiding-principles-content{
        padding: 3.5rem 7% 3rem 7%;
    }
    .guiding-content-box{
        padding: 0.6rem 1rem;
        margin-bottom: 2.3rem;
        border-left: 1.7px solid #f2c663;
    }
    .guiding-content-box span{
        font-size: calc(0.9rem + 0.5vw);
    }
    .guiding-content-box p{
        font-size: calc(0.5rem + 0.5vw);
        margin-top: 0.7rem;
    }
}

@media screen and (max-width: 768px) {
    .guiding-principles-content{
        padding: 2rem 1rem 2rem 1rem;
    }
    .guiding-content-box{
        padding: 0.5rem 0.7rem;
        margin-bottom: 2rem;
        border-left: 1.7px solid #f2c663;
    }
    .guiding-content-box span{
        font-size: calc(1.1rem + 0.5vw);
    }
    .guiding-content-box p{
        font-size: calc(0.78rem + 0.5vw);
        margin-top: 0.7rem;
    }
}
/* Guiding Principles Content End */