/* Banner Start */
.banner{
    height: 110vh;
}
.banner .banner-content{
    align-items: center;
}
.banner .banner-content h1{
    font-size: calc(4.5rem + 0.5vw);
    margin-top: 7rem;
    text-transform: uppercase;
    text-align: center;
}
.banner .banner-content .line{
    width: 90px;
    height: 8px;
    background-color: #f2c663;
    border-radius: 10px;
    margin-top: 1rem;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .banner .banner-content h1{
        font-size: calc(4.2rem + 0.5vw);
        margin-top: 6rem;
    }
    .banner .banner-content .line{
        width: 85px;
        height: 7px;
        margin-top: 0.8rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .banner .banner-content h1{
        font-size: calc(3.8rem + 0.5vw);
        margin-top: 5.5rem;
    }
    .banner .banner-content .line{
        width: 80px;
        height: 7px;
        margin-top: 0.7rem;
    }
}

@media screen and (max-width: 768px) {
    .banner{
        height: auto;
    }
    .banner .banner-content h1{
        font-size: calc(1.7rem + 0.5vw);
        margin-top: -9rem;
    }
    .banner .banner-content .line{
        width: 55px;
        height: 5px;
        margin-top: 0;
    }
}
/* Banner End */