*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts Start */
@font-face {
    font-family: Elikora;
    src: url(../fonts/Elikora.ttf);
}
@font-face {
    font-family: Sharp-Grotesk-Book-20;
    src: url(../fonts/Sharp\ Grotesk\ Book\ 20\ Regular.ttf);
}
/* Fonts End */

h1, h2, h3, h4, h5, h6 {
    font-family: Elikora, sans-serif;
}

/* Navbar Start */
.navbar{
    background: transparent;
    padding: 2rem 7% 2rem 7%;
    position: absolute;
    width: 100%;
    align-items: center;
    z-index: 10;
}
.navbar .navbar-brand img{
    width: 180px;
}
.navbar .nav-link {
    color: #fff !important;
    font-weight: 600;
    font-size: calc(0.65rem + 0.5vw);
    padding: 0.6rem 0.5rem !important;
    margin-left: 4rem;
    font-family: Sharp-Grotesk-Book-20, sans-serif;
    font-weight: 550;
}
.navbar .nav-link.active{
    border-bottom: 2px solid #fff;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .navbar{
        padding: 1.8rem 7% 0 7%;
    }
    .navbar .navbar-brand img{
        width: 120px;
    }
    .navbar .nav-link{
        font-size: calc(0.6rem + 0.5vw);
        padding: 0.5rem 0.5rem !important;
        margin-left: 3.5rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .navbar{
        padding: 1.6rem 7% 0 7%;
    }
    .navbar .navbar-brand img{
        width: 105px;
    }
    .navbar .nav-link{
        font-size: calc(0.55rem + 0.5vw);
        padding: 0.5rem 0.5rem !important;
        margin-left: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .navbar{
        padding: 1rem 1rem;
    }
    .navbar .navbar-brand img{
        width: 65px;
    }
    .navbar-toggler{
        border: none;
        outline: none;
    }
    .navbar-toggler .navbar-toggler-icon{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
    #mobileMenu{
        width: 75%;
        background-color: #83633c;
    }
    #mobileMenu .navbar-brand img{
        width: 90px;
    }
    #mobileMenu .nav-link{
        color: #fff;
        font-size: calc(0.9rem + 0.5vw);
        font-family: Sharp-Grotesk-Book-20, sans-serif;
        font-weight: 550;
        margin: 0.5rem 0;
        width: max-content;
    }
    #mobileMenu .nav-link.active{
        border-bottom: 2px solid #fff;
    }

    .navbar.sticky-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #83633c;
        padding: 0.5rem 1rem;
        align-items: center;
        transition: all 0.2s ease;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }
    .navbar.sticky-nav .navbar-brand img {
        width: 50px !important;
    }
    .navbar.sticky-nav .navbar-toggler .navbar-toggler-icon {
        filter: brightness(0) invert(1);
    }
}
/* Navbar End */

/* Banner Start */
.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.banner img{
    width: 100%;
}
.banner .banner-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 7%;
    color: #fff;
}
.banner .banner-content h1{
    font-size: calc(3rem + 0.5vw);
    margin-top: 5rem;
}
.banner .banner-content p{
    font-size: calc(0.6rem + 0.5vw);
    width: 47%;
    margin-top: 1.5rem;
    font-family: Sharp-Grotesk-Book-20, sans-serif;
}
.banner .banner-content button{
    font-size: calc(0.8rem + 0.5vw);
    font-family: Elikora, sans-serif;
    margin-top: 1rem;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 30px;
    padding: 0.75rem 2rem;
    transition: all 0.2s ease;
}
.banner .banner-content button:hover{
    background-color: #f2c663;
    color: #fff;
}
.banner .banner-content button:active{
    scale: 0.95;
}
/* Banner End */

/* Founder Start */
.founder{
    padding: 5rem 7% 4rem 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.founder .founder-content{
    width: 50%;
}
.founder .founder-content h2{
    font-size: calc(3.5rem + 0.5vw);
    color: #000;
}
.founder .founder-content span{
    display: block;
    font-size: calc(0.7rem + 0.5vw);
    font-family: Sharp-Grotesk-Book-20, sans-serif;
    font-weight: 600;
    color: #000;
}
.founder .founder-content .line{
    width: 80%;
    height: 3px;
    background-color: #000;
    margin: 2rem 0;
    position: relative;
    left: -10rem;
    border-radius: 10px;
}
.founder .founder-content .summary span{
    display: block;
    font-size: calc(1rem + 0.5vw);
    font-family: Sharp-Grotesk-Book-20, sans-serif;
    font-weight: 700;
    color: #000;
}
.founder .founder-content .summary p{
    font-size: calc(0.6rem + 0.5vw);
    margin-top: 1.5rem;
    font-family: Sharp-Grotesk-Book-20, sans-serif;
    color: #000;
}
.founder .founder-image{
    width: 40%;
}
.founder .founder-image img{
    width: 100%;
}
/* Founder End */

/* About Founder Start */
.about-founder{
    padding: 0 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-founder .founder-card{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-founder .founder-card img{
    width: 90px;
    height: 140px;
    object-fit: contain;
}
.about-founder .founder-card span{
    display: block;
    font-family: Elikora, sans-serif;
    font-size: calc(1.7rem + 0.5vw);
    color: #000;
    text-align: center;
    line-height: normal;
}
.about-founder .founder-card p{
    font-family: Sharp-Grotesk-Book-20, sans-serif;
    font-size: calc(0.59rem + 0.5vw);
    color: #000;
    text-align: center;
    margin-top: 1rem;
}
/* About Founder End */

/* About Us Start */
.about-us{
    padding: 4rem 0 0 0;
}
.about-us h3{
    font-size: calc(3.5rem + 0.5vw);
    color: #000;
    text-align: center;
}
.about-us .about-content{
    margin-top: 3.5rem;
    display: flex;
    flex-wrap: wrap;
}
.about-us .about-content .about-box{
    width: 50%;
    background-color: #f2c663;
}
.about-us .about-content .about-text-box{
    padding: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-us .about-content .about-text-box h4{
    font-size: calc(3rem + 0.5vw);
    color: #000;
}
.about-us .about-content .about-text-box p{
    font-family: Sharp-Grotesk-Book-20, sans-serif;
    font-size: calc(0.6rem + 0.5vw);
    color: #000;
    margin-top: 1.5rem;
    width: 80%;
}
.about-us .about-content .about-text-box button{
    font-size: calc(0.8rem + 0.5vw);
    font-family: Elikora, sans-serif;
    margin-top: 2rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 0.8rem 2.5rem;
    transition: all 0.2s ease;
}
.about-us .about-content .about-text-box button:hover{
    background-color: #fff;
    color: #000;
}
.about-us .about-content .about-text-box button:active{
    scale: 0.95;
}
.about-us .about-content .about-box img{
    width: 100%;
}
/* About Us End */

/* Why Choose Us Start */
.why-choose-us{
    padding: 5rem 7% 4rem 7%;
}
.why-choose-us h5{
    font-size: calc(3rem + 0.5vw);
    color: #000;
    text-align: center;
}
.why-choose-us-cards-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.why-choose-us-cards-row .why-choose-us-card{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.why-choose-us-cards-row .why-choose-us-card img{
    width: 90px;
    height: 140px;
    object-fit: contain;
}
.why-choose-us-cards-row .why-choose-us-card p{
    font-family: Sharp-Grotesk-Book-20, sans-serif;
    font-size: calc(0.8rem + 0.5vw);
    color: #000;
    margin-top: 0.2rem;
    text-align: center;
}
/* Why Choose Us End */

/* Experience Start */
.experience{
    padding: 0 7%;
}
.experience h6{
    font-size: calc(3rem + 0.5vw);
    color: #000;
    text-align: center;
}
.experience p{
    font-size: calc(0.6rem + 0.5vw);
    font-family: Sharp-Grotesk-Book-20, sans-serif;
    color: #000;
    font-weight: 500;
    text-align: center;
    width: 80%;
    margin: 1.5rem auto;
}
.experience .experience-cards-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 4rem;
}
.experience .experience-cards-row .experience-card{
    width: 45%;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    position: relative;
}
.experience .experience-cards-row .experience-card span{
    display: block;
    font-family: Elikora, sans-serif;
    font-size: calc(1.2rem + 0.5vw);
    color: #000;
}
.experience .experience-cards-row .experience-card p{
    font-size: calc(0.6rem + 0.5vw);
    font-family: Sharp-Grotesk-Book-20, sans-serif;
    color: #000;
    text-align: left;
    width: 70%;
    margin: 1rem auto 0 0;
}
.experience .experience-cards-row .experience-card img{
    width: 60px;
    background-color: #000;
    padding: 1rem 1.5rem 1rem 0;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: all 0.2s ease;
}
.experience .experience-cards-row .experience-card img:hover{
    background-color: #f2c663;
}
.experience .experience-cards-row .experience-card img:active{
    scale: 0.95;
}
/* Experience End */

/* Events Start */
.events{
    padding: 4rem 7%;
}
.events h6{
    font-size: calc(3rem + 0.5vw);
    color: #000;
    text-align: center;
}
.events p{
    font-size: calc(0.6rem + 0.5vw);
    font-family: Sharp-Grotesk-Book-20, sans-serif;
    color: #000;
    font-weight: 500;
    text-align: center;
    width: 80%;
    margin: 1.5rem auto;
}
.events .events-row{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.events .events-row .event-card{
    width: 46%;
    margin-bottom: 4rem;
}
.events .events-row .event-card img{
    width: 100%;
}
.events .events-row .event-card span{
    display: block;
    font-family: Elikora, sans-serif;
    font-size: calc(1.2rem + 0.5vw);
    color: #000;
    margin-top: 1.5rem;
}
.events .events-row .event-card p{
    font-size: calc(0.6rem + 0.5vw);
    font-family: Sharp-Grotesk-Book-20, sans-serif;
    color: #000;
    text-align: left;
    width: 100%;
    margin: 1rem auto;
}
.events .events-row .event-card button{
    font-size: calc(0.85rem + 0.5vw);
    font-family: Elikora, sans-serif;
    margin-top: 1rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 0.85rem 2.5rem;
    transition: all 0.2s ease;
}
.events .events-row .event-card button:hover{
    background-color: #f2c663;
}
.events .events-row .event-card button:active{
    scale: 0.95;
}
/* Events End */

/* Footer Start */
footer{
    background-color: #f2c663;
}
.footer-content{
    padding: 5rem 7% 2rem 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 2px solid #000;
}
.footer-content .foot-box:nth-child(1),
.footer-content .foot-box:nth-child(4){
    width: 30%;
}
.footer-content .foot-box:nth-child(2),
.footer-content .foot-box:nth-child(3){
    width: 18%;
}
.footer-content .foot-box:nth-child(1){
    padding-right: 3rem;
}
.footer-content .foot-box .foot-logo img{
    width: 200px;
    background-color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    margin-bottom: 3rem;
}
.footer-content .foot-box p{
    color: #000;
    font-size: calc(0.6rem + 0.5vw);
    font-family: Sharp-Grotesk-Book-20, sans-serif;
    display: flex;
    gap: 1rem;
    margin-bottom: 0;
}
.footer-content .foot-box span{
    color: #000;
    font-size: calc(1rem + 0.5vw);
    font-family: Sharp-Grotesk-Book-20, sans-serif;
    font-weight: 600;
    margin-bottom: 2rem;
    display: block;
}
.footer-content .foot-box a{
    color: #000;
    font-size: calc(0.6rem + 0.5vw);
    font-family: Sharp-Grotesk-Book-20, sans-serif;
    display: block;
    text-decoration: none;
    font-weight: 550;
    margin-bottom: 1rem;
}
.footer-content .foot-box a:hover{
    text-decoration: underline;
}
.footer-content .foot-box p i{
    color: #000;
    font-size: calc(1rem + 0.5vw);
    margin-top: 2px;
}
.footer-copyright{
    padding: 1.5rem 0;
}
.footer-copyright p{
    margin: 0;
    text-align: center;
    font-size: calc(0.55rem + 0.5vw);
    font-family: Sharp-Grotesk-Book-20, sans-serif;
    color: #000;
}
/* Footer End */